.app {
  background-color: #f5f5f5;
  min-height: 90vh;
  max-width: 60vw;
  padding: 5vh 20vw;
}

.app__title {
  font-family: 'Assistant', sans-serif;
  font-size: 48px;
  color: #515151;
  font-weight: 700;
}

.app__subtitle {
  color: #515151;
  font-size: 30px;
  display: flex;
  margin-top: 72px;
  align-items: center;
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
}

.app__subtitle-emoji {
  width: 30px;
  height: 30px;
}
